<div class="fondo">
  <h1>Bienvenido!</h1>
 
  <div class="imagen i1" style="background-image:linear-gradient(to top, rgb(207, 217, 223,0.4) 0%, rgb(226, 235, 240,0.4) 100%), url(../../../assets/img/arte.jpg);"></div>
  <div class="imagen i2" style="background-image:linear-gradient(to top, rgb(207, 217, 223,0.4) 0%, rgb(226, 235, 240,0.4) 100%), url(../../../assets/img/aventura.jpg);"></div>
  <div class="imagen i3" style="background-image:linear-gradient(to top, rgb(207, 217, 223,0.4) 0%, rgb(226, 235, 240,0.4) 100%), url(../../../assets/img/naturaleza.jpg);"></div>
  <div class="imagen i4" style="background-image:linear-gradient(to top, rgb(207, 217, 223,0.4) 0%, rgb(226, 235, 240,0.4) 100%), url(../../../assets/img/belleza.jpg);"></div>
  <div class="imagen i5" style="background-image:linear-gradient(to top, rgb(207, 217, 223,0.4) 0%, rgb(226, 235, 240,0.4) 100%), url(../../../assets/img/comida.jpg);"></div>
</div>