<div>
  <button mat-raised-button color="accent" (click)="openDialog()">
    <mat-icon>library_add</mat-icon>
    Agregar tema
  </button>
</div>

<mat-card class="temas" *ngFor="let post of post">
  <mat-card-title-group>
    <mat-card-title> {{ post.titulo }} </mat-card-title>
    <mat-card-subtitle> {{ post.categoria }} </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <p>
      {{ post.descripcion }}
    </p>

    <div class="botones">
      <!-- <mat-button-toggle color="warn">
          <mat-icon>favorite_border</mat-icon>
        </mat-button-toggle> -->
      <br />

      <mat-accordion>
        <mat-expansion-panel hideToggle color="primary">
          <mat-expansion-panel-header>
            <mat-panel-title> Comentarios </mat-panel-title>
          </mat-expansion-panel-header>
          <!--*************"" COMENTARIOS******************** -->
          <mat-card *ngFor="let comentario of com" class="comentario">
            <mat-card-subtitle></mat-card-subtitle>
            <ng-container *ngIf="user$ | async as user">
              {{ user.displayName }}
            </ng-container>
            <mat-card-content>
              <p>{{ comentario.mensaje }}</p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button                
              mat-icon-button
              color="warn"
              (click)="borrarComentario(comentario)"
              >
              <mat-icon>
                delete
              </mat-icon>
            </button> -->
            </mat-card-actions>
          </mat-card>

          <form (submit)="agregarComentarios(comentario)">
            <div class="agregar">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Comentario" #comentario required />
              </mat-form-field>
              <button
                type="submit"
                class="btn-add"
                mat-raised-button
                color="primary"
              >
                Agregar
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
<!-- POR DEFECTO -->
<mat-card class="temas" >
  <mat-card-title-group>
    <mat-card-title> Energía </mat-card-title>
    <mat-card-subtitle> naturaleza </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <p>
      El consumo cada vez más elevado de energía a nivel mundial y la continuidad de los combustibles fósiles generan diversos impactos ambientales y resultan preocupantes para el desarrollo humano de las próximas décadas. El uso de energías renovables y el aumento de la eficiencia energética son algunas de las soluciones para combatir este problema.
    </p>

    <div class="botones">
      <!-- <mat-button-toggle color="warn">
          <mat-icon>favorite_border</mat-icon>
        </mat-button-toggle> -->
      <br />

      <mat-accordion>
        <mat-expansion-panel hideToggle color="primary">
          <mat-expansion-panel-header>
            <mat-panel-title> Comentarios </mat-panel-title>
          </mat-expansion-panel-header>
          <!--*************"" COMENTARIOS******************** -->
          <mat-card *ngFor="let comentario of com" class="comentario">
            <mat-card-subtitle></mat-card-subtitle>
            <ng-container *ngIf="user$ | async as user">
              {{ user.displayName }}
            </ng-container>
            <mat-card-content>
              <p>{{ comentario.mensaje }}</p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button                
              mat-icon-button
              color="warn"
              (click)="borrarComentario(comentario)"
              >
              <mat-icon>
                delete
              </mat-icon>
            </button> -->
            </mat-card-actions>
          </mat-card>

          <form (submit)="agregarComentarios(comentario)">
            <div class="agregar">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Comentario" #comentario required />
              </mat-form-field>
              <button
                type="submit"
                class="btn-add"
                mat-raised-button
                color="primary"
              >
                Agregar
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
