
/* mat-toolbar {
  background: #004a9f;
  color: white;
} */

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #3a3a3a;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
 padding: 3%;

} 

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-image: linear-gradient(to top, rgb(218, 212, 236,0.5) 0%, rgb(218, 212, 236,0.5) 1%, rgb(243, 231, 233,0.5) 100%),url(../../../assets/img/fondo-inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}

.menu{
  color: black;
  display: inline;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}