.example-card {
  width: 50%;
  display: inline-block;
  margin: 2% 2%;

}

.example-header-image {

  display: inline-block;
}
.publicaciones{
  display: block;
}
/* .cabecera{
  padding: 4%;
  display: inline-block;
  width: 100%;
}

.izquierda{
width: 45%;
display: inline;
margin-left: 45px;
} */

.profile-image{
  border-radius: 100%;
  width: 39px;
  height: 39px;
  
}