<!-- Para Agregar publicaciones -->
<div>
  <button mat-raised-button color="accent" (click)="openDialog()">
    <mat-icon>library_add</mat-icon>
    Agregar tema
  </button>
</div>

<div *ngFor="let post of post" class="publicaciones">
  <mat-card class="example-card">
    <mat-card-header class="cabecera">
      
      <div mat-card-avatar class="example-header-image" *ngIf="user$ | async as user">
        <!-- <img
        mat-card-image
        width="30"
        height="30"
        class="profile-image"
        [src]="
          user.photoURL ?? '../../../../assets/img/image-placeholder.png'
        "/> -->
      </div>

      <mat-card-title class="izquierda">{{ post.titulo }}</mat-card-title>
      <mat-card-subtitle class="izquierda">{{ post.categoria }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ post.descripcion }}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="eliminarPost(post)">
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
